<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Chat{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="{{ asset('css/bootstrap.min.css', 'bootstrap') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-grid.min.css', 'bootstrap') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-reboot.min.css', 'bootstrap') }}" rel="stylesheet">
    <link href="{{ asset('app.css', 'app') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
{% block content %}{% endblock %}
{% block javascripts %}{% endblock %}
